h1 {
    color: blue;
    text-align: center;
}
/* Use # for styling ID */
#foo {
    color: rebeccapurple;
    text-align: left;
}

/* Use . to for styling classes */
.bar {
    color: aqua;
}

/* Order of specificity - which styling applies first
1. Inline
2. Id
3. Class
4. Type
 */